@charset "UTF-8";

* {
	font-family: 'Poppins', sans-serif;
	border-radius: 5px;
}

#sign_out{
	float: right;
	width: 120px;
	font-size: 20px;
	margin: 5px;
	border: 2px solid;
	cursor: pointer;
	background-color:transparent;
	color: white;
}

body {
	background: url('../../image/mainbanner.jpeg') no-repeat;
	background-size: 100%;
	background-color: #1A1A3A;
}

.header {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	width: 100%;
	font-size: 80px;
	color: white;
}

.wrapper {
	width: 1080px;
	height: 800px;
	margin: auto;
}

form{
	width: 1080px;
	height: 800px;
	color: white;
	font-size: 20px;
	background-color: #1A1A3A;
}

.titleWrap{
	padding: 0 20px 0 20px;
	height: 70px;	
	border: 1px solid white;
}

.titleWrap div{
	line-height: 70px;
	display: inline-block;	
}

#title{
	width: 900px;
	height: 30px;
	margin-left: 30px;
}

.contentWrap{
	margin: 0px;
	padding: 20px;
	height: 660px;
	border: 1px solid white;	
}

.contentWrap div{
	display: inline-block;	
}

.contentWrap textarea{
	margin-left:76px;
	width: 900px;
	height: 660px;
}

.buttonGroup{
	height: 70px;	
	border: 1px solid white;
	background-color: #1A1A3A;
}

.buttonGroup > div{
	width: 100px;
	height: 40px;
	margin: 15px;
	font-size: 15px;
	background-color: white;
	border: none;
	cursor: pointer;
	color: black;
	text-align: center;
	float: left;
	line-height: 40px;
	box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
}

.footer {
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	display: inline-block;
	text-align: center;
	width: 100%;
	clear: both;
}