@charset "UTF-8";

* {
	font-family: 'Poppins', sans-serif;
	border-radius: 5px;
}

body {
	background: url('../image/mainbanner.jpeg') no-repeat;
	background-size: 100%;
	background-color: #1A1A3A;
}

#sign_out{
	float: right;
	width: 120px;
	font-size: 20px;
	margin: 5px;
	border: 2px solid;
	cursor: pointer;
	background-color:transparent;
	color: white;
}

.wrapper {
	width: 1080px;
	hegith: 2000px;
	margin: auto;
}

.header {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	width: 100%;
}

.header #welcome {
	margin: auto;
	font-size: 80px;
	color: white;
}

.uppermenu {
	text-align: center;
}

.userInfo {
	box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
	width: 200px;
	height: 170px;
	margin: 0 20px 0 20px;
	border: none;
	text-align: center;
	float: left;
	backdrop-filter: blur(15px);
	color: white;
}

.todaymaple {
	backdrop-filter: blur(15px);
	box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
	width: 560px;
	height: 170px;
	margin: 0 20px 0 20px;
	float: left;
	color: white;
}

.todaymaple .tiptitle {
	font-size: 30px;
	margin-top: 20px;
	display: inline-block;
}

.todaymaple .tipcontent {
	font-size: 20px;
	margin-top: 10px;
	display: inline-block;
}

.recommend {
	box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
	width: 200px;
	height: 170px;
	margin: 0 20px 0 20px;
	float: left;
	position: relative;
	cursor: pointer;
}

.recommend>p {
	display: none;
	position: absolute;
	top: 0px;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	color: white;
}

.recom {
	width: 200px;
	height: 170px;
	position: relative;
}

.recom_hover {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 170px;
	display: none;
}

.recommend:hover .recom_hover {
	display: block;
}

.recommend:hover>p {
	display: block;
}

.board {
	color: white;
	background-color: #1A1A3A;
	box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
	margin: 20px;
	margin-top: 20px;
	width: 1040px;
	height: 700px;
	display: inline-block;
	clear: both;
}

.boardTitle {
	font-size: 30px;
	height: 70px;
	margin: 0 20px 0 20px;
	line-height: 70px;
}

.boardLink{
	width: 1040px;
	height: 70px;
	line-height: 70px;
	align: center;
}

.boardLink a{
	width: 1040px;
	height: 30px;
	margin-left: 30px;	
}

tr{
	height: 50px;
}

a{
	color: white;
}

table{
	background-color: #1A1A3A;
	border: white;
	text-align: center;
	width: 1040px;
}

.bottommenu {
	text-align: center;
}

.gameplay {
	backdrop-filter: blur(10px);
	box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
	width: 500px;
	height: 70px;
	margin: 0 20px 0 20px;
	float: left;
	background-color: #1A1A3A;
	color: white;
	font-size: 30px;
	cursor: pointer;
	line-height: 70px;
}

.lucky {
	backdrop-filter: blur(10px);
	box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
	width: 500px;
	height: 70px;
	margin: 0 20px 0 20px;
	float: left;
	background-color: #1A1A3A;
	color: white;
	font-size: 30px;
	cursor: pointer;
	line-height: 70px;
}

#my_modal {
	display: none;
	width: 300px;
	padding: 20px 60px;
	background-color: #fefefe;
	border: 1px solid #888;
	border-radius: 3px;
}

#my_modal .modal_close_btn {
	position: absolute;
	color: black;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
}

.footer {
	color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	display: inline-block;
	text-align: center;
	width: 100%;
	clear: both;
}