@charset "UTF-8";

* {
	font-family: 'Poppins', sans-serif;
}

body{
	height: 100vh;
    background: url('../image/background.jpeg') no-repeat center;
    background-size: cover;
}

.wrapper{
	margin: auto;
	text-align: center;
	margin: 35vh;
}

.loginInfo > input{
	width: 400px;
	font-size: 30px;
	margin: 5px;
	border: none;
}

.buttonGroup > input{
	width: 195px;
	font-size: 30px;
	margin: 5px;
	border: 3px solid;
	cursor: pointer;
	background-color:transparent;
	color: white;
}